header {
    width: 100%;
    height: 52px;
    background-color: #fff;
    border-bottom: #ddd 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-grow: 0;
}

header .action ,header .title{
    display: flex;
    align-items: center;
    gap: 20px;
}

header .last-edited {
    color: #777;
}

body,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header h2 {
    font-weight: 500;
    font-size: 20px;
}

main {
    display: flex;
    height: 100%;
    flex-grow: 1;
}

main .sidebar {
    width: 320px;
    border-right: #ddd 1px solid;
    background-color: white;
}

.sidebar .topbar {
    width: 100%;
    height: 42px;
    border-bottom: #ddd 1px solid;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 16px;
}

.sidebar .topbar button.create-large {
    display: flex;
    color: rgb(14, 130, 255);
    align-items: center;
    font-weight: 500;
}

.sidebar .tabs-container {
    padding: 6px;
}

.sidebar .tabs-container .large-number {
    width: 20px;
    height: 20px;
    border: 2px solid #777;
    font-size: 16px;
    font-weight: 600;
    color: #777;
    display: flex;
    align-items: center;
    border-radius: 2px;
    justify-content: center;
}

.sidebar .tabs-container .tab {
    padding: 8px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    width: 100%;
}

.sidebar .tabs-container .tab.selection {
    background-color: rgb(14, 130, 255, 0.2);
}

main .content {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    align-items: center;
    gap: 16px;
    overflow-y: scroll;
}

.content .editor-container {
    max-width: 800px;
    height: fit-content;
    width: 100%;
    background-color: #fff;
}

.content .small-container{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    gap: 6px;
}

.content .small-container ul {
    list-style: none;
    display: flex;
    gap: 6px;
    flex-direction: column;
}

.content .small-box {
    padding: 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
}

.content .small-box li {
    display: flex;
}

.content .small-box.selection {
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.content .editor-container #editor {
    width: 100%;
    height: fit-content;
}

#editor p {
    font-size: 17px;
}

button.floating {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    padding: 10px;
    color: rgb(14, 130, 255);
    display: flex;
    gap: 4px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.small-box .detail {
    display: none;
}

.small-box .detail {
    display: none;
}

.small-box.selection .outline {
    display: none !important;
}

.small-box.selection .detail {
    display: flex;
    gap: 12px;
    flex-direction: column;
    padding: 8px;
}

.small-box.selection .editor {
    display: flex;
    flex-direction: column;
}

.small-box.selection .topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.small-box.selection .topbar .input {
    display: flex;
    gap: 4px;
}

.small-box.selection .topbar input.textbox {
    width: 80px;
}

.small-box .drag-hundle {
    display: flex;
    align-items: center;
    cursor: grabbing;
    justify-content: center;
    user-select: none;
    color: #777;
}